
.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh; /* Consistent height */
    background-color: #004d40; /* Dark green */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.top-nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.top-nav .profile-link {
    display: flex;
    align-items: center;
}

.top-nav .profile-pic {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    border-radius: 50%; /* Round image */
    object-fit: cover;
    margin-right: 1rem; /* Space between profile pic and hamburger icon */
}

.top-nav .hamburger {
    cursor: pointer;
    font-size: 1.5rem;
}

.top-nav .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #004d40; /* Dark green */
    text-align: center;
    z-index: 999;
}

.top-nav .nav-links.show-nav {
    display: flex;
    flex-direction: column;
}

.top-nav .nav-links a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-bottom: 1px solid #00695c; /* Slightly lighter green */
    transition: background-color 0.3s;
}

.top-nav .nav-links a:hover {
    background-color: #00695c;
}

