
   
        .profile-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            width: 300px;
            color: #004d00;
        }

        h1 {
            text-align: center;
            font-style: italic;
            font-weight: bold;
            font-size: 2em; /* Increase font size */
            letter-spacing: 2px; /* Adjust letter spacing */
            text-transform: uppercase; /* Capitalize all letters */
            text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Enhanced shadow */
            background: linear-gradient(to right, #004d00, #66ff66); /* Gradient text */
            -webkit-background-clip: text; /* Clip the gradient to text */
            -webkit-text-fill-color: transparent; /* Make text fill transparent for gradient effect */
        }

        label {
            display: block;
            margin: 10px 0 5px;
            color: #004d00;
        }

        input[type="text"], input[type="email"], input[type="file"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 2px solid #004d00;
            border-radius: 5px;
            box-sizing: border-box;
            background-color: #f0f0f0;
        }

        button {
            
            padding: 10px;
            background-color: #004d00;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: #fff;
            font-weight: bold;
        }

        button:hover {
            background-color: #003300;
        }

        .profile-picture-preview {
            text-align: center;
            margin: 15px 0;
        }

        .profile-picture-preview img {
            max-width: 100px;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
          }
